/* background */

html {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
  height: 100%;
  background-color: #0F99A1;
  display:flex;
  justify-content: center;
  align-items: center;
}

/* Calculator */
main {
  display:inherit;
  flex-direction: column;
  width: 390px;
  height: auto;
}

/* Header */
.top {
  height: 70px;
  background-color: #000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: inherit;
  justify-content: center;
  align-items: center;
}

.title {
  color: #fff;
  font-size: 1.25rem;
}

/* Section */
.middle {
  display: inherit;
  background-color: #fff;
  height: auto;
}

.container {
  display: inherit;
  width: 100%;
  margin: 20px;
}


.total-bill {
  width: 326px;
  height: 30px;
  border-radius: 5px;
  font-size: 1rem;
  padding-left: 5px;
  outline: none;
}

.total-bill::placeholder {
  color: #aaa;
}

.question-one,
.question-two,
.question-three {
  margin: 30px 0 10px;
}

.percent-tip {
  width: 349px;
  height: 35px;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: -1px -1px 0px 0px #aaa;
  background-color: #fff;
  border-bottom: 2px solid #eee;
  border-right: 2px solid #eee;
  outline: none;
}

.split {
  width: 339px;
  height: 30px;
  border-radius: 5px;
  font-size: 1rem;
  padding-left: 5px;
  outline: none;
}

.button {
  width:200px;
  height: 50px;
  margin: 40px 75px 0;
  background-color: #15CED9;
  border-radius: 5px;
  font-size: 1.25rem;
  outline:none;
}

.button:hover {
  background-color: #0F99A1;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}




/* Footer */
footer {
  width: 100%;
  height:auto;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;





