/* Sized to 360x640 */

@media only screen and (max-width: 360px) {


/* Calculator */
main {
  margin: 20px 0;
  width: 340px;
}

.total-bill {
  width: 276px;
}

.percent-tip {
  width: 299px;
}

.tip-split {
  width: 289px;
}
  
.question-one,
.question-two,
.question-three {
  margin: 20px 0 10px;
}

.submitButton {
  margin: 25px 50px 0;
}

